<div>
    <img src="assets/image18.jpg"  class="style" alt="..." width="100%" >
</div>


<div  class="interior container clearfix "><h1 class="section_title"><strong>City registration</strong></h1>
    <!-- p class="bubble" style="background-color: #17a2b0ff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #b2110eff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #ffd500ff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #0085c8ff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #59358cff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #f18700ff"></p>
    <p class="bubble bubble-marker spring" style="background-color: #e73d55ff"></p>
 -->

<p>Your registration appointment (Anmeldung) is the most important step when relocating to Germany, as it provides you with your registration certificate (Anmeldebescheinigung). You will need this for all kinds of administrative tasks in the country, for instance applying for a residence permit, opening a bank account or finding a job.</p>


<p><strong>Documents:</strong></p>
<ul>
    <li>Passport</li>
    <li>Immatriculation certificate</li>
    <li>Room contract</li>
</ul>
<a href="https://www.deggendorf.de/rathaus/ordnungsverwaltung/buergeramt/wohnsitz-anmelden">Register here</a>

<h2 class="section_title s">Health Insurance</h2>
<p><strong>TK-Insurance:</strong></p>
<ul>
    <li>Our application process is in English</li>
    <li>Free choice of specialist physicians and dentists - provided they are accredited statutory health insurance doctors</li>
    <li>Treatment in licensed hospitals</li>
    <li>Health insurance cover when travelling to other EU Member States</li>
    <li>Medical check-ups</li>
    <li>110 euros per month</li>
    <li><a href="https://www.tk.de/en?tkmcg=30998037554_425338537146&tkkwg=p_30998037554_tk%20health%20insurance&wt_cc1=k[tk%20health%20insurance]m[p]n[g]c[425338537146]p[]d[c]a[30998037554]t[kwd-41450932434]&gclid=CjwKCAiAxJSPBhAoEiwAeO_fPzZoRvB654sFQixqeJJ3fOMRSHw-xlSNAXgZpm5HnIFmL0RcPwPcUxoCBdcQAvD_BwE">Apply</a></li>
    
</ul>

<p><strong>AOK Insurance:</strong></p>
<ul>
    <li>Affordable premiums</li>
    <li>Our special "AOK Student-Service " - 70 times in Germany</li>
    <li>Free choice among over 130.000 doctors and dentists</li>
    <li>Individual advice and personal service provided by our student advisers</li>
    <li>Nation-wide telephone hotline at the cost of a local call</li>
    <li>Advice and assistance in all matters relating to social security</li>
    <li>110 euros per month</li>
    <li><a href="https://www.aok.de/pk/hessen/">Apply</a></li>
    
</ul>

<div class="pimcore_area_textarea pimcore_area_content">

    <div class="fakultaet-text-info" >
        <div id="fakultaet_text">
            <div class="section_title">
                                                    <h2>Student accommodation in deggendorf</h2>
                                        </div>
                                                  <div class="">
    
                                                        <p>In Deggendorf, the majority of international students live in the ten student student parks, which are all within easy walking distance of campus and all other amenities in town. These student parks&nbsp; are attractive low level apartment blocks consisting of compact, modern and newly built furnished and self-contained flats mainly for single occupation, although other options are available. Most dorms have a communal lounge, laundry room, wifi, parking spaces and a bike lock-up.</p>
    
    <p>All apartments are located centrally within short and easy walking or biking distances to town centre and the campuses. In order to secure accommodation in one of the residences, we recommend that you apply directly over their websites at the earliest date possible.</p>
    
    
                                        </div>
        </div>
    </div>
    
    </div>

    <div class="pimcore_area_embed pimcore_area_content"><section class="area-embed">

        <div class="row">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/ruixysJu9n4" frameborder="0" allowfullscreen=""></iframe>                            </div>
            </div>
        </div>
    
    </section>
    
    </div>
    &nbsp;
    <div>
    
        <mat-panel-title>
    "D3 - Wohnen" in Bahnhofstraße 21/21a
    </mat-panel-title>
         <p><a href="https://www.d3-wohnen.de/en/home.html" rel="noopener noreferrer" target="_blank">D3-Wohnen</a> is located in the centre of the town in a quiet and outstanding residential area, perfectly suited to students needs.</p>
         <p>Facilities:</p>
         <ul>
	<li>Single and shared apartments</li>
	<li>Common lounge</li>
	<li>Car park</li>
	<li>Laundrette</li>
	<li>WIFI (for an additional fee)</li>
        </ul>
        <mat-panel-title>
            Studentenzentrum in Stadtzentrum (Östlicher Stadtgraben 30)
    </mat-panel-title>
     <a data-toggle="collapse" data-parent="#accordion-61e5a059a1fa7" href="#accordion-61e5a059a1fa7-2" aria-expanded="false" class="collapsed">
        Studentenzentrum in Stadtzentrum (Östlicher Stadtgraben 30)                        </a>
        <p>Facilities:</p>
        <ul>
            <li>84 Single Apartments</li>
            <li>Common lounge</li>
            <li>Car park</li>
            <li>Laundrette</li>
            <li>WIFI (for an additional fee)</li>
        </ul>
     </div>
<div class="section_title">
    <h2>Location and direction</h2></div>
<div class="interior container clearfix" id="page_container">




    

                <div class="pimcore_area_textarea pimcore_area_content">

<div class="fakultaet-text-info" >
<div id="fakultaet_text">
<div class="section_title">
                                        <h2>Deggendorf Campus</h2>
                            </div>
                                      <div class="">

                                            <h3><img src="../assets/image3.jpeg"style="float:right; width:600px">Main Campus</h3>

<p>Technische Hochschule Deggendorf<br>
Dieter-Görlitz-Platz 1<br>
94469 Deggendorf<br>
GERMANY</p>

<p>Tel: +49 991 3615-0<br>
Fax: +49 991 3615-297<br>
E-mail: <a href="mailto:info@th-deg.de">info@th-deg.de</a></p>

<p>&nbsp;</p>

<h3>Postbox address:</h3>

<p>Technische Hochschule Deggendorf<br>
Postfach 1320<br>
94453 Deggendorf<br>
GERMANY</p>

<p>&nbsp;</p>

<h3>Faculty Building in the Land-Au:</h3>

<p>Faculty of Applied Healthcare Science<br>
Land-Au 27<br>
94469 Deggendorf<br>
GERMANY</p>

<p>&nbsp;</p>


                            </div>
</div>
</div>

</div>            

                <div class="pimcore_area_text-accordion pimcore_area_content"><style>
.pimcore_block_entry[type="text-accordion"] .pimcore_area_buttons {
display: none !important;
}

</style>

<section class="area-text-accordion " >

<div class="panel-group" id="accordion-61e58f9377bfe">
                        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-61e58f9377bfe" href="#accordion-61e58f9377bfe-0" aria-expanded="false" class="collapsed">
                    Directions to Deggendorf from the airport using public transport                        </a>
            </h4>
        </div>
        <div id="accordion-61e58f9377bfe-0" class="panel-collapse collapse ">
            <div class="panel-body">
                    <p>&nbsp;</p>

<p><strong>By bus:</strong></p>

<ul>
<li>Duration: approx. 2 hours from MUC</li>
<li>Cost: approx. 15 € from MUC</li>
<li>Buses from the company Flixbus offer a <strong>direct connection</strong> between Munich airport (Terminal 2 - Terminalstraße Ost) and Deggendorf railway station</li>
<li>Berlinlinienbus Bus Company travels between Deggendorf and a range of other airports, such as Frankfurt and Berlin as well as Munich airport</li>
<li>Please check the availablilty online and reserve your bus ride in advance to make sure that the desired connection won't be fully booked</li>
</ul>

<p>&nbsp;</p>

<p><strong>By train:</strong></p>

<p>How to travel from Munich airport to Deggendorf railway station by bus and train (approx. 2 hours):</p>

<ol>
<li>Exit the airport and wait for the arrival of bus #635 to Freising, it arrives approximately every 20 minutes. You must purchase a ticket from the driver.</li>
<li>Once you have boarded the correct bus, remain on it until Freising train station (this is the last stop for bus #635). The train station in Freising is located very close to the bus stop, approximately 30 metres. At the train station (or at a Deutsche Bahn-DB ticket machine at the airport) purchase a Bayern Ticket! The ticket is convenient and costs 23€ for one person. The Bayernticket can be used for up to 5 people. For every additional guest the price increases by €4. (For 5 persons the price is € 40,-)</li>
<li>In the train station look at the display panels for current train information such as departure times and platforms. You must take the train to Passau, this train usually departs from platform 4. If you are not sure just ask, also in English.</li>
<li>At this point you should be in the wagon to Passau. Your stop is Plattling (approx. 1 hour from Freising). At Plattling, you must change the train, a green one (Bayrische Waldbahn) usually departs from platform 5 or 8. This train takes you directly to Deggendorf (only 2 stops, roughly 10 minutes).</li>
</ol>

<p>Especially if your flight arrives very soon or very late it is recommended to check the connection / travel schedule at www.bahn.de.</p>

<p>&nbsp;</p>


                



            </div>
        </div>
    </div>
    </div>


</section>

</div>            

                <div class="pimcore_area_textarea pimcore_area_content">

<div>
<div id="fakultaet_text">
<div class="section_title">
                                        <h2></h2>
                            </div>
                                      <div class="">

                                            <p><iframe frameborder="0" height="450" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2626.508426719984!2d12.9542813!3d48.82944!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4775119871ad94ef%3A0x64e9bac6691ed449!2sTechnische%20Hochschule%20Deggendorf!5e0!3m2!1sde!2sde!4v1574763618166!5m2!1sde!2sde" style="border:0;" width="100%" data-cookieconsent="necessary"></iframe></p>

<p>&nbsp;</p>

<p>Other route planners:</p>

<ul>
<li><a href="http://www.bayerninfo.de/">BayernInfo</a></li>
<li><a href="https://www.bing.com/maps/?v=2&amp;cp=48.82939714888796~12.955513999999981&amp;lvl=15&amp;dir=0&amp;sty=r&amp;where1=Edlmairstra%C3%9Fe%208%252C%2094469%20Deggendorf&amp;form=LMLTCC">Bing maps</a></li>
<li><a href="http://www.openstreetmap.org/">OpenStreetMap</a></li>
</ul>

<p>Parking:</p>

<ul>
<li><a href="/Hochschule/anfahrtskizze-parkmoeglichkeiten.png" target="_blank">Parking in Deggendorf</a></li>
<li><a href="/Hochschule/parking_information_deg.pdf" target="_blank">Parking Information</a></li>
</ul>


                            </div>
</div>
</div>

</div>            

                <div class="pimcore_area_wysiwyg pimcore_area_content"><section class="area-wysiwyg" >
<h3>Accessible Campus Plan</h3>

<p>><img src="../assets/image4.jpeg" style="float:left; height:424px; width:600px"></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


</section>
</div>            

                <div class="pimcore_area_anchor pimcore_area_content">    <a class="anchor_link" id="ecri"></a>

</div>            

                <div class="pimcore_area_textarea pimcore_area_content">

<div class="fakultaet-text-info" >
<div id="fakultaet_text">
<div class="section_title">
                                        <h2>European Campus Rottal-Inn </h2>
                            </div>
                                      <div class="">

                                            <p>European Campus Rottal-Inn</p>

<p>Max-Breiherr-Straße 32</p>

<p>84347 Pfarrkirchen</p>

<p>Germany</p>

<p>&nbsp;</p>

<p><iframe frameborder="0" height="450" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.441130330834!2d12.920523915659256!3d48.42887277924782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4775b10f4d8dae23%3A0x48c3bbc9d1a99fd5!2sMax-Breiherr-Stra%C3%9Fe%2032%2C%2084347%20Pfarrkirchen!5e0!3m2!1sde!2sde!4v1574763584226!5m2!1sde!2sde" style="border:0;" width="100%" data-cookieconsent="necessary"></iframe></p>


                            </div>
</div>
</div>

</div>            



                            
</div>

