
<div >
    <img src="../assets/image2.jpg" alt="DIT" width="100%" height="600">
  </div>
  <div class="pimcore_area_textarea pimcore_area_content">

    <div class="infotext">
        <div id="fakultaet_text">
            <div class="section_title">
                                                    <h2>{{ 'title12'| translate}}</h2>
                                        </div>
                                                  <div class="">
    
                                                        <p><span style="color:black">{{ 'paragraph11'| translate}}</span></p>
    
    <p><strong><span style="color:black">No boundaries </span></strong></p>
    
    <p><span style="color:black">{{'paragraph12'|translate}}</span></p>
    
    <p><strong><span style="color:black">{{'title15'|translate}}</span></strong></p>
    
    <p>{{ 'paragraph13'| translate}}</p>

    <p>{{ 'paragraph14'| translate}}</p>
    <p><strong><span style="color:black">{{ 'title16'| translate}}</span></strong></p>
    
    <p>{{ 'paragraph15'| translate}}</p>
    
    <p>{{ 'paragraph16'| translate}}</p>
    
    <p><strong><span style="color:black"></span>{{ 'title17'| translate}}</strong></p>
    
    <p><span style="color:black">{{ 'paragraph17'| translate}}</span></p>
    
    <p><strong><span style="color:black">{{ 'title18'| translate}}</span></strong></p>
    
    <p>{{ 'paragraph18'| translate}}</p>
    
    
                                        </div>
        </div>
    </div>
    <div class="pimcore_area_textarea pimcore_area_content infotext">

        <div class="fakultaet-text-info" >
            <div id="fakultaet_text">
                <div class="section_title">
                                                        <h2>{{ 'title19'| translate}}</h2>
                                            </div>
                                                      <div class="">
        
                                                            <h3 style="text-align:center">&nbsp;</h3>
        
        <h3 style="text-align:center"><strong>{{ 'title20'| translate}}</strong></h3>
        
        <p>&nbsp;</p>
        
        <p>{{ 'paragraph19'| translate}}<br>
            {{ 'paragraph20'| translate}}</p>
        
        <ul>
            <li>{{ 'point36'| translate}}</li>
            <li>{{ 'point37'| translate}}</li>
            <li>{{ 'point38'| translate}}</li>
            <li>{{ 'point39'| translate}}</li>
            <li>{{ 'point40'| translate}}</li>
        </ul>
        
        <p>WURI (Worlds Universities with Real Impact) ranking 2021:</p>
        
        <ul>
            <li>{{ 'point41'| translate}}</li>
            <li>{{ 'point42'| translate}}</li>
            <li>{{ 'point43'| translate}}</li>
            <li>No. 29 worldwide in the overall ranking of the most innovative universities</li>
        </ul>
        
        <p>WURI (Worlds Universities with Real Impact) ranking 2019:</p>
        
        <ul>
            <li>{{ 'point44'| translate}}</li>
            <li>{{ 'point45'| translate}}</li>
            <li>{{ 'point46'| translate}}</li>
        </ul>
        
        <p>&nbsp;</p>
        
        
        <h3>&nbsp;</h3>
        
        <hr>
        <p>&nbsp;</p>
        
        <h3 style="text-align:center">Awards</h3>
        
        <p>&nbsp;</p>
        
        <ul>
            <li>{{ 'point47'| translate}}</li>
            <li>{{ 'point48'| translate}}</li>
            <li>{{ 'point49'| translate}}</li>
            <li>{{ 'point50'| translate}}</li>
            <li>{{ 'point51'| translate}}</li>
            <li>{{ 'point52'| translate}}</li>
            <li>{{ 'point53'| translate}}</li>
        </ul>
        
        
        <p>&nbsp;</p>
        
        <hr>
        <p>&nbsp;</p>
        
        <h3 style="text-align:center">Certificates</h3>
        
        <p style="text-align:center">&nbsp;</p>
        
        <ul>
            <li>{{ 'point54'| translate}}</li>
            <li>{{ 'point55'| translate}}</li>
        </ul>
        
        
        <hr>
        <p>&nbsp;</p>
        
        <h3 style="text-align:center">Academic institutional memberships</h3>
        
        <p style="text-align:center">&nbsp;</p>
        
        <ul>
            <li>{{ 'point56'| translate}}</li>
            <li>{{ 'point57'| translate}}</li>
            <li>{{ 'point58'| translate}}</li>
            <li>{{ 'point59'| translate}}</li>
        </ul>
        
        
        
                                            </div>
            </div>
        </div>
        
        </div>
    
    </div>
