
<div class="container">
  <div class="bodycontainer">
  
    <div>
      <hr>
      <h3 class="heading">
        <strong>{{'title22'|translate}}</strong>
      </h3>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AI"
            aria-expanded="false" aria-controls="AI"
            style="background-color: #e63c54; color: white; text-transform: uppercase;">
            AI
          </button>
        </h2>
        <div id="AI" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body" >
            <p> {{'point60'|translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" >
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AGW"
            aria-expanded="false" aria-controls="AGW"
            style="background-color: #f18700; color: white; text-transform: uppercase;">
            AGW
          </button>
        </h2>
        <div id="AGW" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>{{'point61'|translate}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#MB-MK"
            aria-expanded="false" aria-controls="MB-MK"
            style="background-color: #0085c8; color: white; text-transform: uppercase;">
            MB-MK
          </button>
        </h2>
        <div id="MB-MK" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p> {{'point62'|translate}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NUW"
            aria-expanded="false" aria-controls="NUW"
            style="background-color: #59358c; color: white; text-transform: uppercase;">
            NUW
          </button>
        </h2>
        <div id="NUW" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p> {{'point63'|translate}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EMT"
            aria-expanded="false" aria-controls="EMT"
            style="background-color: #e8b300; color: white; text-transform: uppercase;">
            EMT
          </button>
        </h2>
        <div id="EMT" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p> {{'point64'|translate}}</p>
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BIW"
              aria-expanded="false" aria-controls="BIW"
              style="background-color: #13a538; color: white; text-transform: uppercase;">
             BIW
            </button>
          </h2>
          
          <div id="BIW" class="accordion-collapse collapse " aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p> {{'point65'|translate}}</p>
            </div>
          </div>
        </div>
    </div>
  
    <div>
      <hr>
      <h3 >
        <strong>{{'title23'|translate}}</strong>
      </h3>
              <h3>{{'title24'|translate}}</h3>
        
          <p> <br>{{'point66'|translate}} <br>
  
            <br> {{'title25'|translate}} <br>
  
            <br> {{'point67'|translate}}<br>
  
            <br> {{'point68'|translate}}
          </p>
        
              <h3>{{'title26'|translate}}</h3>
        
          <p>
            <br>{{'point69'|translate}} <br>
          </p>
        
              <h3>{{'title27'|translate}}</h3>
            
          <p>
            <br> {{'point70'|translate}} <br>
          </p>
          <br>
          <ul>
            <li>
              {{'point71'|translate}}
            </li>
            <li>
              {{'point72'|translate}}
            </li>
          </ul>
      <hr>
    </div>
  
    <div #studyabroad>
      <h3 class="heading">
        <strong> {{'title28'|translate}} </strong>
      </h3>
      <p>
        <br> {{'point73'|translate}}<br>
        <br> DIT has partner universities all over the world. <br>
        <br> For inspiration, read reports from our students who have completed this exciting challenge. <br>
        <br>
        <br> These are your possibilities: <br>
        <br>
      </p>
      <h4> <strong>{{'title29'|translate}} </strong> </h4>
      <p>
        <br> Erasmus+ is a European scholarship programme, which supports, promotes and funds student mobility around
        Europe.
        Through the Erasmus+ agreement, participating universities commit to:<br>
      </p>
      <ul>
        <li>
          Not charge any additional tuition fees
        </li>
        <li>
          Support incoming students to find accommodation
        </li>
        <li>
          Recognise exam results earned by students in the relevant degree course at their home university
        </li>
      </ul>
      <p>
        <br> Additional guidance can be viewed under Erasmus+ then Erasmus+ studies and in the International Office. <br>
      </p>
      <h4> <strong>{{'title30'|translate}} </strong></h4>
      <p>
        <br> <strong> {{'title31'|translate}} </strong> <br>
        <br> Apply using Mobility Online: <br>
        <br> After you've registered, please upload all application documents (CV with photo, motivational letter with
        your reasons for application, enrolment certificate and your DIT-transcript). If you are in the 1st semester, your
        transcript can be submitted later, deadline is the end of February. <br>
        <br> <strong>{{'title32'|translate}}</strong> <br>
        <br> The annual deadline is the <strong> 15th February </strong> for an exchange semester in the following
        academic year (winter and summer semester). <br>
        <br> In mid March all applicants will be informed via e-mail at which partner university they've been accepted,
        and which further documents need to be handed in to the International Office in B 210 to secure their place. <br>
        <br> After the nomination through the university: submit Learning Agreement (external and internal) together with
        the application documents for your host university to the International Office. <br>
        <br>
      </p>
      <h4> <strong> {{'title33'|translate}}</strong></h4>
      <p>
        <br>
        <br> You are completely free to choose any university, even as a "free mover student", i.e. outside of existing
        university cooperations. The International Office will be happy to help and guide you. <br>
        <br> Please register as a "free mover student" on Mobility Online, because even if you apply independently you can
        receive financial support through grants or scholarship programmes. <br>
        <br> <strong> {{'title34'|translate}} </strong> <br>
      </p>
      <ul>
        <li>
          Notice for an independent application for studies abroad
        </li>
        <li>
          Letter of Acceptance from the host university
        </li>
        <li>
          Learning Agreement (see recognition of international credits)
        </li>
      </ul>
      <br> <br>
      <h4> <strong> {{'title35'|translate}}</strong></h4>
      <p>
        <br> A semester abroad should be planned at least one year in advance. Join our info sessions and preparational
        events for studying abroad. <br>
      </p>
    </div>
  </div>
<div>
  
<h2>Professors</h2>

<mat-grid-list cols="3"rowheight=2:1 class="style1">
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/imag8.jpeg" alt=""class="img" >
      <mat-card-content>
        <p>
          Prof. Dr.-Ing. Udo Garmann<br>
          Faculty of Computer Science<br>
          professor<br>
          Dean
        
        </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/image13.jpeg" alt="">
      <mat-card-content>
        <p>
          Prof. Dr. Jürgen Sikorski<br>
          Faculty of Applied Economics (School of Management)<br>
          Professors<br>
          Dean
        </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/image14.jpeg" alt="">
      <mat-card-content>
        <p>
          Prof. Dr.-Ing. Andrea Deininger<br>
          
          Faculty of Civil Engineering and Environmental Technology<br>
          
          Professors<br>
          
          Dean    </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/image15.jpeg" alt="">
      <mat-card-content>
        <p>
          Prof. Dr.-Ing. Peter Fröhlich<br>
          Faculty of Mechanical Engineering and Mechatronics<br>
          Professors<br>
          Dean
        </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/image16.jpeg" alt="">
      <mat-card-content>
        <p>
          Prof. Dr. Michael Moritz<br>
          Faculty of Applied Natural Sciences and Industrial Engineering<br>
          Dean
        </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="size">
      <img mat-card-image src="assets/image19.jpeg" alt="">
      <mat-card-content>
        <p>
          Prof. Dr. Christian Rester<br>
          Faculty of Applied Healthcare Sciences<br>
          Professors<br>
          Dean
        </p>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>

</mat-grid-list>

</div>
