.example-button-row {
  display: table-cell;
  width: 500px;
  height: 350px;
  color:rgb(255, 255, 255);

}
.card{
  
  margin-right: 10px;
  margin-bottom: 20px;
}
.image{

height:200px;

}

.box{

background-color: #1a2473;
box-sizing: border-box;
  background-clip:padding-box;
}
.size{
width: 300px;
height:300px;
} 
.style2{
background-color: #28b5ce;
box-sizing: border-box;
  background-clip:padding-box;
}
.style1{
margin-left: 15%;
margin-top: 5%;
margin-right: 15%;
margin-bottom: 10px;

}
.style{
margin-left: 20%;
margin-top: 5%;
margin-right: 10%;
margin-bottom: 50%;

}



.img{
height:300;
width:300;

}