.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  .example-card {
    max-width: 400px;
  }
  .card{
    margin-right: 10px;
    margin-bottom: 20px;
}


  .style{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 50%;
  }
  
  
.box{
  box-sizing: border-box;
    background-clip:padding-box;
}
  
  