
<div>
    <img src="../assets/image 1.jpg" alt="DIT" width="2000" height="300">
  </div>
  <div class="infotext_big_black infotext center">
   <div class="fakultaet-text-info" >
    <div id="fakultaet_text center">
        <div class="center">
                                                <h2>{{ 'title1'| translate}}</h2>
                                    </div>
                                              <div>

                                                    <p>{{'paragraph1'|translate}}</p>

<p>{{'paragraph2'|translate}}</p>


                                    </div>
    </div>
</div>
</div>
<div class="center">

  <div class="fakultaet-text-info" ></div>
      <div id="fakultaet_text">
          <div class="section_title">
                                                  <h2>{{'title2' | translate}}</h2>
                                      </div>
                                                <div class="">
  
                                                      <p><a id="dit-as-employer" name="dit-as-employer"></a> {{'paragraph3' | translate}}</p>
  
  <p>{{'paragraph4' | translate}}</p>
  
  <p>{{'paragraph5' | translate}}<br>
  <br>
  <strong>{{'title3' | translate}}</strong></p>
  
  <ul>
    <li>&nbsp;&nbsp;&nbsp; {{'point1' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point2' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point3' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point4' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point5' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point6' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point7' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point8' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point9' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point10' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point11' | translate}}</li>
    <li>&nbsp;&nbsp;&nbsp; {{'point12' | translate}}</li>
  </ul>
  
  <p>&nbsp;</p>
  
  <p><strong>Contact regarding questions about the application process or working at DIT:</strong></p>
  
  <p>Professorships: <a href="/en/Daria-Grässel-Abteilung Human-Resource-Management-Personalmanagement Professorenangelegenheiten-148396">Daria Grässel</a><br>
  Research Assistants: <a href="https://www.th-deg.de/en/Werner-Ranzinger-Abteilung%20Human-Resource-Management-Personalmanagement%20Tarifrechtliche%20Angelegenheiten-2144">Werner Ranzinger</a></p>
  
  
                                      </div>
      </div>
  </div>

  <div class="center">

    <div class="fakultaet-text-info" >
        <div id="fakultaet_text">
            <div class="section_title">
                                                    <h2>{{'title4' | translate}}</h2>
                                        </div>
                                                  <div class="">
    
                                                        <p>{{'paragraph6' | translate}}</p>
    
    <p>{{'paragraph7' | translate}}</p>
    
    <p><strong>{{'title5' | translate}}</strong></p>
    
    <p>{{'title6' | translate}}</p>
    
    <ul>
      <li>{{'point13' | translate}}</li>
      <li>{{'point14' | translate}}</li>
      <li>{{'point15' | translate}}</li>
      <li>{{'point16' | translate}}</li>
    </ul>
    
    <p>{{'title7' | translate}}</p>
    
    <ul>
      <li>{{'point17' | translate}}</li>
      <li>{{'point18' | translate}}</li>
      <li>{{'point19' | translate}}</li>
    </ul>
    
    <p><strong>{{'title8' | translate}}</strong></p>
    
    <ul>
      <li>&nbsp;&nbsp;&nbsp; {{'point20' | translate}}</li>
      <li>&nbsp;&nbsp;&nbsp; {{'point21' | translate}}</li>
      <li>&nbsp;&nbsp;&nbsp; {{'point22' | translate}}</li>
    </ul>
    
  
    
    
                                        </div>
        </div>
    </div>
    
    </div>
    <div class="pimcore_area_textarea pimcore_area_content">

      <div class="fakultaet-text-info center">
          <div id="fakultaet_text">
              <div class="section_title">
                                                      <h2>{{'title9' | translate}}</h2>
                                          </div>
                                                    <div class="">
      
                                                          <p>{{'paragraph8'| translate}}</p>
      
      
                                          </div>
          </div>
      </div>
      
      </div>
      <div class="pimcore_area_text-accordion pimcore_area_content"><style>
        .pimcore_block_entry[type="text-accordion"] .pimcore_area_buttons {
            display: none !important;
        }
    
    </style>
    
    <section class="area-text-accordion center">
    
            <div class="panel-group" id="accordion-61e3f5b4d8416">
                                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-61e3f5b4d8416" href="#accordion-61e3f5b4d8416-0" aria-expanded="true" class="">
                              {{'title10' | translate}}                    </a>
                        </h4>
                    </div>
                    <div id="accordion-61e3f5b4d8416-0" class="panel-collapse collapse show">
                        <div class="panel-body">
                                <p>{{'paragraph9'| translate}}</p>
    
    <p>{{'paragraph10'| translate}}</p>
    
    <p>{{'title11' | translate}}</p>
    
    <ul>
      <li>{{'point24' | translate}}</li>
      <li>{{'point25' | translate}}</li>
      <li>{{'point26' | translate}}</li>
      <li>{{'point27' | translate}}</li>
      <li>{{'point28' | translate}}</li>
      <li>{{'point29' | translate}}</li>
      <li>{{'point30' | translate}}</li>
      <li>{{'point31' | translate}}</li>
      <li>{{'point32' | translate}}</li>
      <li>{{'point33' | translate}}</li>
      <li>{{'point34' | translate}}</li>
      <li>{{'point35' | translate}}</li>
    </ul>
    

    
    
                            
    
    
    
                        </div>
                    </div>
                </div>
                                    <div class="panel panel-default">
                    
                    <div id="accordion-61e3f5b4d8416-1" class="panel-collapse collapse ">
                        <div class="panel-body">
                                <p><a href="/en/ecri-campus">The European Campus Rottal-Inn </a>provides exclusively English-based bachelor and master degrees. Founded in 2015, it is in the exciting process of development, with a new campus building and student living accommodation soon to be built.</p>
    
    <p>It is nestled in the town of Pfarrkirchen among rolling, picturesque hills between the Danube and Inn rivers, close to Austrian and Czech borders and near to the large, cosmopolitan cities of Munich and Salzburg.<br>
    Pfarrkirchen has become culturally renowned in the area due to its exceptional art exhibitions, museum nights, festivals and events that are held throughout the year. In summer, the old town festival tempts thousands of visitors with its multicultural culinary and musical events. Additionally, it has many established businesses, numerous street cafes, bars, secluded courtyards and shady summer beer gardens.</p>
    
    <p>Local amenities:</p>
    
    <ul>
      <li>Local shops, supermarkets, doctors, dentists, hospitals, retirement homes</li>
      <li>Kindergarden and all schools</li>
      <li>50 metre open air heated swimming pool with water slides and a wild watercourse</li>
      <li>Riverside cycle path</li>
      <li>Large swimming lake with rowing boat hire</li>
      <li>Lakeside cross-country skiing tracks in winter</li>
      <li>Europe‘s largest continuous golf resort nearby</li>
      <li>Health spas and thermal springs</li>
      <li>Airfield for gliders and small aircraft</li>
      <li>Riding stables, racecourse with horse races, show-jumping and dressage competitions</li>
      <li>Good public transport services</li>
      <li>Airport 90 mins drive</li>
    </ul>
    
    
                            
    
    
    
                        </div>
                    </div>
                </div>
                </div>
    
    
    </section>
    
    </div>
